.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.header-container {
    background-color: rgba(3, 37,65);
}

.header-wrap {
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 15px;
    list-style-type: none;
}

.header-left-wrap li {
    margin-right: 15px;
    padding: 8px;
}

.header-nav-item {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ading img {
    width: 100%;
}

.page-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px 0;
}

.loginBtn {
    width: 70px;
    border: none;
    border-radius: 10px;
    color: black;
}

.login-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.login-container input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    border-color: lightgray;
}

.activeBtn {
    background-color: rgb(10, 10, 59);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 88%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
    border: none;
}

.inactiveBtn {
    background-color: lightgray;
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 88%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
    border: none;
}
